.productList-container {
  width: 400px;
}

.productListMain {
  box-shadow: 0px 0px 5px 5px rgb(206, 199, 199);
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 1rem;
}

.eachProduct {
  padding: 5px;
  border-bottom: 1px solid red;
}

.productListTable {
  padding: 1rem 2rem 0.1rem 2rem;
}

img {
  width: 250px;
  height: 200px;
  box-shadow: 0px 0px 5px 5px rgb(139, 193, 139);
  margin: 10px;
}

.btnAmount {
  cursor: pointer;
  transition: all 0.6s;
  &:hover {
    scale: 1.1;
  }
}
